<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyFile" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <SMTP name="Mail" subject="CRITICAL ERROR: GameRoom"
              to="mariana.chaikovska.oi.2024@lpnu.ua"
              from="chaikovska.marianka@gmail.com"
              smtpHost="smtp.gmail.com"
              smtpPort="465"
              smtpProtocol="smtps"
              smtpUsername="chaikovska.marianka@gmail.com"
              smtpPassword="cnpzkfnnleedimlx"
              bufferSize="1">
        </SMTP>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="MyFile"/>
        </Root>

        <Logger name="persistence" level="error">
            <AppenderRef ref="Mail"/>
        </Logger>
    </Loggers>
</Configuration>